@font-face {
  font-family: "Gotham Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gotham Bold"),
    url("../src/fonts/Gotham-Bold.otf") format("opentype");
}

@font-face {
  font-family: "CervoNeue BoldNeue";
  font-style: normal;
  font-weight: normal;
  src: local("CervoNeue BoldNeue"),
    url("../src/fonts/CervoNeue-BoldNeue.otf") format("opentype");
}

::-webkit-scrollbar {
  width: 12px;
  color: transparent;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
  color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: transparent;
  color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: transparent;
  color: transparent;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: transparent;
  color: transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
  color: transparent;
}
::-webkit-scrollbar-button {
  background-color: transparent;
  color: transparent;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  color: transparent;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
  color: transparent;
}
::-webkit-resizer {
  background-color: transparent;
  color: transparent;
}

body {
  margin: 0em;
  padding: 0em;
}

.App {
  height: 100em;
  width: 100%;
  height: 100%;
  min-height: 100%;
  width: 100%;
  display: flex;
  margin-right: 1em;
  margin-left: 1em;
}

.main-container {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.form {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-right: 1em;
  font-size: 0.9em;
}

.input {
  width: 25%;
  height: 40px;
  border-radius: 0.1em;
  border-style: dotted;
  border-color: rgba(155, 152, 152, 0.418);
  font-size: 1.5em;
  padding-left: 0.5em;
  margin-left: 0.5em;
  margin-right: 30px;
  color: rgba(100, 90, 89, 0.5);
  font-family: "CervoNeue BoldNeue";
  position: relative;
  transform: rotate(-10deg) skew(20deg, 10deg);
  list-style: none;
  z-index: 5;
}

.input:focus {
  background-color: rgba(211, 206, 206, 0.452);
  color: rgba(110, 109, 109, 0.671);
}

.input::placeholder {
  color: #282d35;
}

.button-container {
  position: relative;
  transform: rotate(-10deg) skew(20deg, 10deg);
  font-family: "CervoNeue BoldNeue";
  list-style: none;
  z-index: 500;
  height: 2.5em;
  width: 8em;
  align-items: center;
}

.button {
  border-radius: 0.15em;
  color: #5855559d;
  text-align: center;
  height: 2.5em;
  width: 8em;
  vertical-align: middle;
  line-height: 1.9em;
  border-bottom: 1px solid #060606;
  position: relative;
  display: block;
  text-decoration: none;
  box-shadow: -2em 1.5em 0 #8a888888;
  transition: all 0.75s linear;
  z-index: 500;
  bottom: 0.2em;
  text-align: top;
  align-items: center;
  font-size: 1em;
  animation: col 9s infinite;
}

@keyframes col {
  0% {
    background-color: rgba(255, 4, 4, 0.199);
  }
  25% {
    background-color: rgba(19, 253, 19, 0.24);
  }
  50% {
    background-color: rgba(26, 26, 247, 0.151);
  }
  75% {
    background-color: rgba(145, 233, 145, 0.253);
  }
  100% {
    background-color: rgba(255, 110, 110, 0.267);
  }
}

.button:hover {
  color: #080808be;
  transform: translate(0.9em, -0.9em);
  transition: all 0.25s linear;
  box-shadow: -2em 2em 0 #e1e1e1;
}

.button:before,
.button:after {
  transition: all 0.25s linear;
}

.button:before {
  outline: none;
  width: 1em;
  top: 0.5em;
  left: -1em;
}

.button:after {
  outline: none;
  width: 1em;
  bottom: -2.5em;
  left: 1em;
  height: 14em;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  transition: all 0.25s linear;
  width: 0.5em;
}

.button:after {
  height: 8em;
  background: #181818cc;
  bottom: -4.25em;
  left: 3.4em;
  transform: rotate(90deg) skew(0, 36deg);
}

.button:before {
  height: 2.2em;
  background: #181818a9;
  top: 0.25em;
  left: -0.55em;
  transform: skewY(-55deg);
}

.user-name {
  text-transform: uppercase;
  height: 1.2em;
  width: 42em;
  top: -10.1em;
  text-align: center;
  margin-left: 14em;
  padding-left: 1em;
  font-size: 2em;
  color: rgba(139, 134, 134, 0.671);
  padding: 0.2em;
  margin: 0.1em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 400em;
  width: 100%;
  margin-top: -3em;
}

.info-label {
  font-weight: bold;
  margin-right: 0.1em;
  color: #28292b;
}

.info-label:hover {
  font-weight: bold;
  margin-right: 0.1em;
  color: #83858a;
}

.info-value {
  font-weight: bold;
  font-size: 1.1em;
  color: rgba(255, 248, 194, 0.747);
}

.info-value:hover {
  color: rgb(53, 0, 151);
  font-weight: bold;
}

#homepage {
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
}

#homepage:hover {
  white-space: normal;
  overflow: visible;
  content: ".";
  color: rgb(49, 49, 49);
}

#description {
  height: 2.5em;
  width: 21em;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: clip;
}

#description:hover {
  white-space: normal;
  overflow: visible;
  content: ".";
  color: rgb(49, 49, 49);
  height: 100%;
  text-align: center;
  background: rgba(96, 94, 240, 0.473);
}

.left-container-list {
  height: 400em;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 28em;
  /* margin-left: 1em; */
  margin-right: 0.5em;
}

.left-container {
  width: 20em;
  height: 400em;
  flex-direction: column;
  font-family: "CervoNeue BoldNeue";
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-right: 30em;
  z-index: -9000;
}

.repo-name {
  margin-bottom: -3em;
  text-align: center;
  overflow: hidden;
}

.repo-name:hover {
  overflow: hidden;
  font-style: normal;
}

.repo-language {
  margin-bottom: -02.7em;
  margin-left: 28.5em;
  color: rgba(14, 189, 248, 0.685);
  font-size: 0.7em;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  height: 3em;
  width: 5em;
  border-style: double;
  border-width: 1px;
  border-color: rgba(236, 16, 16, 0.664);
}

.repo-language:hover {
  height: 3em;
  width: 5em;
  margin-bottom: -2.7em;
  margin-left: 28.5em;
  color: rgb(211, 5, 5);
  font-size: 0.7em;
  font-style: italic;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(13, 250, 159, 0.61);
  border-radius: 0.2em;
}

.github-repo-name-img {
  display: flex;
  position: relative;
  z-index: -900;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: contain;
}

.github-repo-name-img:hover {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 14em;
}

ul {
  position: relative;
  transform: rotate(-10deg) skew(20deg, 10deg);
  font-family: "CervoNeue BoldNeue";
  list-style: none;
  z-index: 550;
  margin-left: 1em;
  margin-right: 0.5em;
}

.repo-row-container {
  border-radius: 0.15em;
  background-color: #000;
  color: #575757c4;
  text-align: center;
  height: 2.5em;
  width: 23.9em;
  vertical-align: middle;
  line-height: 2.5em;
  border-bottom: 1px solid #060606;
  position: relative;
  display: block;
  text-decoration: none;
  box-shadow: -2em 1.5em 0 #424141;
  transition: all 0.75s linear;
}

.repo-row-container:hover {
  background: #f77bf763;
  color: #fffcfb;
  transform: translate(0.9em, -1.9em);
  transition: all 0.25s linear;
  box-shadow: -2em 2em 0 #e1e1e1;
}
.repo-row-container:before,
.repo-row-container:after {
  transition: all 0.25s linear;
}

.repo-row-container:before {
  width: 1em;
  top: 0.5em;
  left: -1em;
}

.repo-row-container:after {
  width: 1em;
  bottom: -2.5em;
  left: 1em;
  height: 4em;
}

.repo-row-container:before,
.repo-row-container:after {
  content: "";
  position: absolute;
  transition: all 0.25s linear;
  width: 0.5em;
}

.repo-row-container:after {
  height: 24em;
  background: #181818e3;
  bottom: -12.23em;
  left: 11.5em;
  transform: rotate(90deg) skew(0, 36deg);
}

.repo-row-container:before {
  height: 2.45em;
  background: #121212cc;
  top: 0.25em;
  left: -0.5em;
  transform: skewY(-50deg);
}

left-container-row {
  text-decoration: none;
}

/* **************** mittlinjen för de två olika behållarna med rader ************************ */

.info-repo-container {
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-family: "CervoNeue BoldNeue";
  margin-top: -4em;
  margin-left: 4.5em;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}

ol {
  position: relative;
  transform: rotate(10deg) skew(-12deg, -10deg);
  color: rgba(7, 39, 221, 0.432);
  margin-top: 9em;
  margin-right: 20em;
  font-family: "CervoNeue BoldNeue";
  font-size: 0.95em;
  list-style: none;
  z-index: 5;
}

.info-row {
  background: rgba(6, 22, 248, 0.432);
  color: #363636;
  text-align: left;
  height: 2.5em;
  width: 21.5em;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 2.7em;
  border-bottom: 1px solid #060606;
  position: relative;
  display: block;
  text-decoration: none;
  box-shadow: -2em 1.5em 0 #8a8787;
  transition: all 0.75s linear;
  margin-top: 0.7em;
  margin-right: -20em;
  padding: 0.2em 1.25em;
}

.info-row:hover {
  background: rgba(94, 240, 211, 0.473);
  transform: translate(0.2em, -1.9em);
  transition: all 0.25s linear;
  box-shadow: -2em 2em 0 #e1e1e1;
}
.info-row:before,
.info-row:after {
  transition: all 0.55s linear;
}

.info-row:before {
  background: #000000bb;
  width: 1em;
  top: 0.5em;
  left: -1em;
}

.info-row:after {
  background: #000000bb;
  width: 1em;
  bottom: -2.5em;
  left: 1em;
  height: 14em;
}

.info-row:before,
.info-row:after {
  content: "";
  position: absolute;
  transition: all 0.5s linear;
  width: 0.5em;
}

.info-row:after {
  height: 23.95em;
  background: #000000c5;
  bottom: -12.25em;
  left: 11.5em;
  transform: rotate(90deg) skew(0, 36deg);
}

.info-row:before {
  height: 2.8em;
  width: 0.45em;
  background: #000000a6;
  top: 0.35em;
  left: -0.5em;
  transform: skewY(-55deg);
}
